<a href="https://colab.research.google.com/github/Paolo20224/Prueba/blob/main/Online_retail_KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
filename = "/content/OnlineRetail.csv"
df=pd.read_csv(filename,encoding= 'unicode_escape')

In [59]:
#Muestra la cabecera de la trama de datos
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,01-12-2010 08:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2.0,01-12-2010 08:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6.0,01-12-2010 08:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6.0,01-12-2010 08:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6.0,01-12-2010 08:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32.0,01-12-2010 08:34,1.69,13047.0,United Kingdom

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529608 entries, 0 to 529607
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    529608 non-null  object
 1   StockCode    529608 non-null  object
 2   Description  528162 non-null  object
 3   Quantity     529607 non-null  float64
 4   InvoiceDate  529607 non-null  object
 5   UnitPrice    529607 non-null  float64
 6   CustomerID   398829 non-null  float64
 7   Country      529607 non-null  object
dtypes: float64(3), object(5)
memory usage: 32.3+ MB

In [61]:
df2 = df
df2 = df2.dropna(subset=["CustomerID"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 398829 entries, 0 to 529606
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    398829 non-null  object
 1   StockCode    398829 non-null  object
 2   Description  398829 non-null  object
 3   Quantity     398829 non-null  float64
 4   InvoiceDate  398829 non-null  object
 5   UnitPrice    398829 non-null  float64
 6   CustomerID   398829 non-null  float64
 7   Country      398829 non-null  object
dtypes: float64(3), object(5)
memory usage: 27.4+ MB

In [62]:
#Revisi√≥n de datos duplicados
df2.drop_duplicates(inplace=True) #para ver duplicados en la base
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393728 entries, 0 to 529606
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    393728 non-null  object
 1   StockCode    393728 non-null  object
 2   Description  393728 non-null  object
 3   Quantity     393728 non-null  float64
 4   InvoiceDate  393728 non-null  object
 5   UnitPrice    393728 non-null  float64
 6   CustomerID   393728 non-null  float64
 7   Country      393728 non-null  object
dtypes: float64(3), object(5)
memory usage: 27.0+ MB

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [63]:
df2.groupby(['Country']).sum()

                       Quantity    UnitPrice    CustomerID
Country
Australia               83643.0     4048.000  1.568057e+07
Austria                  4679.0     1636.940  4.934596e+06
Bahrain                   260.0       78.950  2.100270e+05
Belgium                 22553.0     7308.650  2.488790e+07
Brazil                    356.0      142.600  4.086080e+05
Canada                   2763.0      910.580  2.615483e+06
Channel Islands          9474.0     3732.650  1.125585e+07
Cyprus                   6296.0     3880.040  7.579696e+06
Czech Republic            592.0       88.150  3.834300e+05
Denmark                  8188.0     1266.950  4.876734e+06
EIRE                   133383.0    37451.910  1.066976e+08
European Community        497.0      294.050  9.215880e+05
Finland                 10667.0     3784.770  8.686949e+06
France                 108381.0    42344.320  1.057722e+08
Germany                114301.0    36697.570  1.170227e+08
Greece                   1320.0      549.930  1.559376e+06
Iceland                  2266.0      467.670  2.111337e+06
Israel                   3987.0      906.650  3.126931e+06
Italy                    7954.0     3814.940  1.005599e+07
Japan                   25267.0      795.180  4.465268e+06
Lebanon                   386.0      242.440  5.743800e+05
Lithuania                 652.0       99.440  5.366200e+05
Malta                     944.0      666.010  2.158496e+06
Netherlands            192170.0     6291.160  3.293098e+07
Norway                  17020.0     6372.060  1.268707e+07
Poland                   3653.0     1422.270  4.341972e+06
Portugal                15878.0    12817.070  1.851984e+07
RSA                       352.0      248.100  7.218680e+05
Saudi Arabia               75.0       24.110  1.256500e+05
Singapore                5234.0    25108.890  2.918376e+06
Spain                   26561.0    12471.020  3.149651e+07
Sweden                  35632.0     1804.730  6.777368e+06
Switzerland             29778.0     6568.600  2.377592e+07
USA                      1230.0      631.230  3.533948e+06
United Arab Emirates      982.0      229.890  1.018952e+06
United Kingdom        3910629.0  1148846.564  5.437340e+09
Unspecified              1785.0      775.950  3.309817e+06

In [64]:
import numpy as np
df2.groupby(['Country']).nunique()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,69,600,609,67,66,77,9
Austria,18,306,306,23,18,43,11
Bahrain,2,16,16,8,2,8,2
Belgium,116,767,774,38,116,65,25
Brazil,1,32,32,7,1,16,1
Canada,6,147,147,19,6,30,4
Channel Islands,32,430,436,25,32,55,9
Cyprus,20,498,498,29,20,56,8
Czech Republic,5,25,25,12,5,17,1
Denmark,21,251,252,35,21,44,9
EIRE,315,1916,1963,88,314,115,3
European Community,5,50,50,9,5,20,1
Finland,47,458,465,30,47,53,12
France,450,1516,1537,74,450,97,86
Germany,591,1663,1694,67,587,106,94
Greece,5,103,103,16,5,30,3
Iceland,6,100,100,15,6,31,1
Israel,6,221,221,24,6,51,4
Italy,54,477,480,30,54,62,15
Japan,27,216,217,44,28,48,8
Lebanon,1,45,45,9,1,23,1
Lithuania,4,29,29,10,4,10,1
Malta,10,99,99,18,10,29,2
Netherlands,98,766,786,65,98,84,9
Norway,38,591,595,37,38,77,10
Poland,24,204,205,24,24,48,6
Portugal,68,677,685,32,68,65,19
RSA,1,58,58,9,1,23,1
Saudi Arabia,2,9,9,4,2,5,1
Singapore,10,178,179,24,10,51,1
Spain,102,1081,1095,49,102,81,30
Sweden,46,261,261,48,45,45,8
Switzerland,71,947,954,45,70,69,21
USA,6,163,163,32,6,33,4
United Arab Emirates,3,68,68,11,3,25,2
United Kingdom,19469,3658,3856,421,18094,564,3935
Unspecified,8,213,213,14,8,44,4

In [110]:
df2["Country"]=df2["Country"].replace("Australia",1).astype(int)
df2["Country"]=df2["Country"].replace("Austria",2).astype(int)
df2["Country"]=df2["Country"].replace("Bahrain",3).astype(int)
df2["Country"]=df2["Country"].replace("Belgium",4).astype(int)
df2["Country"]=df2["Country"].replace("Brazil",5).astype(int)
df2["Country"]=df2["Country"].replace("Canada",6).astype(int)
df2["Country"]=df2["Country"].replace("Channel Islands",7).astype(int)
df2["Country"]=df2["Country"].replace("Cyprus",8).astype(int)
df2["Country"]=df2["Country"].replace("Czech Republic",9).astype(int)
df2["Country"]=df2["Country"].replace("Denmark",10).astype(int)
df2["Country"]=df2["Country"].replace("EIRE",11).astype(int)
df2["Country"]=df2["Country"].replace("European Community",12).astype(int)
df2["Country"]=df2["Country"].replace("Finland",13).astype(int)
df2["Country"]=df2["Country"].replace("France",14).astype(int)
df2["Country"]=df2["Country"].replace("Germany",15).astype(int)
df2["Country"]=df2["Country"].replace("Greece",16).astype(int)
df2["Country"]=df2["Country"].replace("Hong Kong",17).astype(int)
df2["Country"]=df2["Country"].replace("Iceland",18).astype(int)
df2["Country"]=df2["Country"].replace("Israel",19).astype(int)
df2["Country"]=df2["Country"].replace("Italy",20).astype(int)
df2["Country"]=df2["Country"].replace("Japan",21).astype(int)
df2["Country"]=df2["Country"].replace("Lebanon",22).astype(int)
df2["Country"]=df2["Country"].replace("Lithuania",23).astype(int)
df2["Country"]=df2["Country"].replace("Malta",24).astype(int)
df2["Country"]=df2["Country"].replace("Netherlands",25).astype(int)
df2["Country"]=df2["Country"].replace("Norway",26).astype(int)
df2["Country"]=df2["Country"].replace("Poland",27).astype(int)
df2["Country"]=df2["Country"].replace("Portugal",28).astype(int)
df2["Country"]=df2["Country"].replace("RSA",29).astype(int)
df2["Country"]=df2["Country"].replace("Saudi Arabia",30).astype(int)
df2["Country"]=df2["Country"].replace("Singapore",31).astype(int)
df2["Country"]=df2["Country"].replace("Spain",32).astype(int)
df2["Country"]=df2["Country"].replace("Sweden",33).astype(int)
df2["Country"]=df2["Country"].replace("Switzerland",34).astype(int)
df2["Country"]=df2["Country"].replace("United Arab Emirates",35).astype(int)
df2["Country"]=df2["Country"].replace("United Kingdom",36).astype(int)
df2["Country"]=df2["Country"].replace("Unspecified",37).astype(int)
df2["Country"]=df2["Country"].replace("USA",38).astype(int)

ValueError: ignored