<a href="https://colab.research.google.com/github/Paolo20224/Prueba/blob/main/Online_retail_KMeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
filename = "/content/drive/MyDrive/clase data science/OnlineRetail.csv"

#Muestra la cabecera de la trama de datos

In [ ]:
df = pd.read_csv(filename,encoding= 'unicode_escape')

In [ ]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01-12-2010 08:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01-12-2010 08:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,01-12-2010 08:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,01-12-2010 08:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01-12-2010 08:34,1.69,13047.0,United Kingdom

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [ ]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
df2 = df

In [ ]:
df2 = df2.dropna(subset=["CustomerID"])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [ ]:
#Revisi√≥n de datos duplicados
df2.drop_duplicates(inplace=True) #para ver duplicados en la base
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

In [ ]:
df2.groupby(['Country']).sum()

                      Quantity    UnitPrice    CustomerID
Country
Australia                83643     4048.000  1.568057e+07
Austria                   4827     1701.520  5.021102e+06
Bahrain                    260       78.950  2.100270e+05
Belgium                  23152     7540.130  2.571829e+07
Brazil                     356      142.600  4.086080e+05
Canada                    2763      910.580  2.615483e+06
Channel Islands           9473     3736.900  1.127029e+07
Cyprus                    6296     3880.040  7.579696e+06
Czech Republic             592       88.150  3.834300e+05
Denmark                   8188     1266.950  4.876734e+06
EIRE                    136187    38209.260  1.102464e+08
European Community         497      294.050  9.215880e+05
Finland                  10666     3786.850  8.699324e+06
France                  109806    42825.230  1.074419e+08
Germany                 117341    37633.440  1.198819e+08
Greece                    1556      713.290  2.008584e+06
Iceland                   2458      481.210  2.247154e+06
Israel                    3987      906.650  3.126931e+06
Italy                     7999     3879.390  1.015666e+07
Japan                    25218      814.860  4.567292e+06
Lebanon                    386      242.440  5.743800e+05
Lithuania                  652       99.440  5.366200e+05
Malta                      944      666.010  2.158496e+06
Netherlands             200128     6492.550  3.419054e+07
Norway                   19247     6529.060  1.350765e+07
Poland                    3653     1422.270  4.341972e+06
Portugal                 16017    12903.250  1.874993e+07
RSA                        352      248.100  7.218680e+05
Saudi Arabia                75       24.110  1.256500e+05
Singapore                 5234    25108.890  2.918376e+06
Spain                    26817    12621.500  3.262673e+07
Sweden                   35632     1804.730  6.777368e+06
Switzerland              29778     6568.600  2.377592e+07
USA                       1034      644.980  3.672086e+06
United Arab Emirates       982      229.890  1.018952e+06
United Kingdom         3994870  1165878.034  5.544907e+09
Unspecified               1785      775.950  3.309817e+06

In [ ]:
import numpy as np

In [ ]:
df2.groupby(['Country']).nunique()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,69,600,609,67,66,77,9
Austria,19,307,307,23,19,44,11
Bahrain,2,16,16,8,2,8,2
Belgium,119,778,785,38,119,66,25
Brazil,1,32,32,7,1,16,1
Canada,6,147,147,19,6,30,4
Channel Islands,33,430,436,25,33,55,9
Cyprus,20,498,498,29,20,56,8
Czech Republic,5,25,25,12,5,17,1
Denmark,21,251,252,35,21,44,9
EIRE,319,1950,1997,88,318,115,3
European Community,5,50,50,9,5,20,1
Finland,48,458,465,30,48,53,12
France,458,1523,1545,74,458,97,87
Germany,603,1671,1703,68,598,106,95
Greece,6,138,138,16,6,34,4
Iceland,7,103,103,15,7,32,1
Israel,6,221,221,24,6,51,4
Italy,55,477,480,30,55,62,15
Japan,28,216,217,47,29,48,8
Lebanon,1,45,45,9,1,23,1
Lithuania,4,29,29,10,4,10,1
Malta,10,99,99,18,10,29,2
Netherlands,101,785,805,66,101,84,9
Norway,40,591,595,37,40,77,10
Poland,24,204,205,24,24,48,6
Portugal,70,686,694,32,70,65,19
RSA,1,58,58,9,1,23,1
Saudi Arabia,2,9,9,4,2,5,1
Singapore,10,178,179,24,10,51,1
Spain,105,1093,1107,49,105,81,31
Sweden,46,261,261,48,45,45,8
Switzerland,71,947,954,45,70,69,21
USA,7,163,163,32,7,33,4
United Arab Emirates,3,68,68,11,3,25,2
United Kingdom,19857,3661,3860,426,18441,569,3950
Unspecified,8,213,213,14,8,44,4

In [ ]:
paises = np.array('Country')

In [ ]:
paises

array('Country', dtype='<U7')