<a href="https://colab.research.google.com/github/Paolo20224/Prueba/blob/main/reviews_sentiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Como parte inicial, descargamos la informacion y la cargamos en nuestro cuader en Colab
import pandas as pd
filename = "/content/reviews_sentiment.csv"
df = pd.read_csv(filename, sep=";")

1.Analisis y Depuracion de Datos

In [10]:
# A continuacion revisaremos la categoria de cada dato, asi como tambien su integridad (verificacion de nulos)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Review Title    257 non-null    object
 1   Review Text     257 non-null    object
 2   wordcount       257 non-null    int64
 3   titleSentiment  231 non-null    object
 4   textSentiment   257 non-null    object
 5   Star Rating     257 non-null    int64
 6   sentimentValue  257 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 14.2+ KB

In [13]:
#En funcion de la revision general de la columna "titleSentiment" decidimos reemplazar las celdas vacias por el atributo "positive", debido a que a nuestra interpretacion, la mayoria de los comentarios hacian relacion con dicha calificacion.
df2=df
df2["titleSentiment"].fillna("positive", inplace=True)
df2.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Review Title    257 non-null    object
 1   Review Text     257 non-null    object
 2   wordcount       257 non-null    int64
 3   titleSentiment  257 non-null    object
 4   textSentiment   257 non-null    object
 5   Star Rating     257 non-null    int64
 6   sentimentValue  257 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 14.2+ KB

In [14]:
df2.describe()

        wordcount  Star Rating  sentimentValue
count  257.000000   257.000000      257.000000
mean    11.501946     3.420233        0.383849
std     13.159812     1.409531        0.897987
min      1.000000     1.000000       -2.276469
25%      3.000000     3.000000       -0.108144
50%      7.000000     3.000000        0.264091
75%     16.000000     5.000000        0.808384
max    103.000000     5.000000        3.264579

In [15]:
#A continuacion revisaremos el archivo en excel para validar que elementos conducentes a error puede contener esta base.
df.to_excel("rev_sentiment.xlsx", index=False)